body {
  background-image: url('milky-way-2695569_1920.jpg');
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  user-select: none;
  color: white;
  font-family: 'Space Mono';
}

h2 {
  font-size: 3.5em;
  text-align: center;
  height: 75px;
}

span{
  font-size: 72px;
  margin-top: 20px;
}

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  float: left;
  text-align: center;
  font-size: 100px;
  align-items: center;
  
}

div[id^="row-"] div:last-child {
  border-right: none;
}

div[id^="row-"] div:first-child {
  border-left: none;
}

div[id="row-1"] div{
  border-top: none;
}

div[id="row-3"] div{
    border-bottom: none;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url('Space_background.jpg');
  background-repeat: no-repeat;
}

#statusLine{
  display: block;
  font-size: 3em;
}
#start {
  margin-top: 5%;
  font-size: 2.5em;
}